.productos-destacados {
  padding: 2em 0 0;
  margin: 0 auto;
  text-align: center;
}
.productos-destacados h2 {
  color: #3c2313;
  font-size: 40px;
  font-weight: 700;
  padding-top: 5px;
}
.productos-destacados > p {
  color: #666666;
  font-size: 15px;
  font-weight: 400;
  padding-top: 20px;
  word-spacing: 13px;
}
.productos-destacados > div {
  display: flex;
  font-size: 15px;
  font-weight: 500;
  justify-content: space-between;
  padding-top: 50px;
  margin: 0 auto;
  max-width: 55em;
}
.productos-destacados div div {
  background-color: rgb(250, 248, 244);
}
.productos-destacados > div div p {
  padding-bottom: 7.45px;
}
.productos-destacados p:nth-child(2) {
  color: #3c2313;
}
.productos-destacados p:last-child {
  color: #f0a83e;
}
