/* Estilos generales */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
@import "productos_destacados.css";
@import "form.css";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Roboto", sans-serif;
}
.inside {
  max-width: 70%;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}

/* header */
header div div {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}
header div li {
  font-size: 0.75rem;
}
header div a {
  color: white;
  /* font-size: 13px; */
}
/* Top */
header > div:first-child {
  background-color: #222222;
  color: #f3f3f3;
  font-size: 0.7rem;
  padding: 0.5em 2.5em 0.5em 6.8em;
}
header > div:first-child a {
  padding: 0 10px 0 10px;
}
/* Rectangle 3 */
header > div:last-child {
  background-color: #f0a83e;
  padding: 20px 0;
}
h1 {
  color: #3c2313;
  font-size: 20px;
  font-weight: 700;
}
header span {
  color: white;
}
header div:last-child li {
  display: inline-block;
}
header > div:last-child li::before {
  color: white;
  content: "\f1b0";
  font-family: "Font Awesome 5 Free";
  font-size: 1.2em;
  font-weight: 900;
  margin-left: 1em;
}
header > div:last-child li:nth-child(1)::before {
  margin-left: 0px;
}
header > div:last-child i:last-child {
  display: none;
}

/* Main */
/* Slide */
.slide {
  background: wheat
    url(https://dionseid.github.io/Frontend_I/Proyecto_Petshop/assets/img/bowl-and-pet-daities-on-green-background-1.svg)
    no-repeat;
  background-size: cover;
  color: #3c2313;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 33.7em;
  /* height: 41.31%; */
  /* height: 409px; */
  padding-right: 12px;
}
.slide > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}
.slide p:first-child {
  background-color: white;
  border-radius: 6px;
  font-size: 1.5em;
  margin-bottom: 12px;
  padding: 10px;
}
.slide a {
  background-color: #f0a83e;
  border-radius: 6px;
  color: white;
  margin-top: 12px;
  padding: 15px 23px;
}

/* footer */
footer {
  background-color: #3c2313;
}
/* contacto */
.contacto {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 700;
  padding: 1.5em 0;
  margin: 0 auto;
}
.contacto > div {
  padding-left: 5em;
}
.contacto > div i {
  background-color: #8a8787;
  border: 6px solid #786960;
  border-radius: 100%;
  font-size: 40px;
  padding: 14px;
  position: absolute;
  right: 200px;
}
.contacto > div > h3 {
  color: white;
  font-size: 20px;
  position: relative;
}
.contacto p {
  color: #8a8787;
  font-size: 0.7em;
  padding-bottom: 50px;
}
.contacto p:nth-child(5) {
  display: none;
}
.contacto h3:first-child i,
.contacto h3:nth-of-type(2) i {
  line-height: 28px;
  font-size: 38px;
}
.contacto h3:nth-of-type(3) i {
  padding: 8px;
}
.contacto a {
  padding: 16px;
}
.contacto span {
  color: #f0a83e;
}
.contacto a:visited {
  color: white;
}
/* Derechos */
footer > p {
  background-color: #222222;
  color: white;
  font-size: 0.7em;
  font-weight: 700;
  padding: 4px 0 4px;
  text-align: center;
}

/* Responsive */
/* Mobile */
@media screen and (max-width: 480px) {
  html {
    font-size: 20px;
  }
  .inside {
    max-width: unset;
  }
  header > div:first-child {
    display: none;
  }
  header > div:last-child > div {
    justify-content: space-between;
    max-width: 90%;
  }
  header > div:last-child nav {
    display: none;
  }
  header > div:last-child i:last-child {
    color: white;
    display: inline-block;
    font-size: 1.3em;
  }
  .slide {
    background: wheat url("/assets/img/background_mobile.svg") no-repeat;
    background-size: cover;
    background-position: right bottom;
    /* background-size: con%; */
    height: 20em;
  }
  .slide > div {
    width: 90%;
    align-items: flex-end;
    /* text-align: right; */
  }
  .slide p:first-child {
    font-size: 1.2em;
  }
  .productos-destacados > div {
    flex-direction: column;
    padding: 2em;
    gap: 2em;
  }
  .formulario {
    margin: 1em auto 2em;
    max-width: 17em;
  }
  .formulario h2 {
    font-size: 2em;
  }
  label {
    top: 1.3em;
  }
  .formulario div:last-child button,
  .formulario div:last-child input {
    border-radius: 2em;
    padding: 1em 0;
    width: 50%;
  }
  footer > .contacto {
    flex-direction: column;
    padding: 0;
  }
  .contacto p:nth-child(4) {
    display: none;
  }
  .contacto p:nth-child(5) {
    display: inline-block;
  }
  .contacto > h3 {
    order: -1;
    font-size: 0.8em;
  }
  .contacto > h3 > a {
    display: flex;
    flex-direction: row;
  }
  footer > p {
    font-size: 0.6em;
  }
}
