/* Estilos generales */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
.productos-destacados {
  padding: 2em 0 0;
  margin: 0 auto;
  text-align: center;
}

.productos-destacados h2 {
  color: #3c2313;
  font-size: 40px;
  font-weight: 700;
  padding-top: 5px;
}

.productos-destacados > p {
  color: #666666;
  font-size: 15px;
  font-weight: 400;
  padding-top: 20px;
  word-spacing: 13px;
}

.productos-destacados > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 15px;
  font-weight: 500;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-top: 50px;
  margin: 0 auto;
  max-width: 55em;
}

.productos-destacados div div {
  background-color: #faf8f4;
}

.productos-destacados > div div p {
  padding-bottom: 7.45px;
}

.productos-destacados p:nth-child(2) {
  color: #3c2313;
}

.productos-destacados p:last-child {
  color: #f0a83e;
}

.formulario {
  max-width: 20em;
  margin: 8em auto;
}

.formulario h2 {
  color: #3c2313;
  text-align: center;
}

form {
  margin: 1.2em 0;
}

form > div {
  position: relative;
  margin-top: 0.4em;
}

label {
  position: absolute;
  color: white;
  left: 1.5em;
  font-size: 0.7em;
  top: 1.8em;
  pointer-events: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.formulario > form > div:nth-child(-n + 3) > input {
  background-color: #3c2313;
  border: none;
  border-radius: 14px;
  color: white;
  height: 3em;
  margin: 0.6em 0;
  outline: none;
  padding-left: 10px;
  width: 100%;
}

.formulario > form > div:nth-child(-n + 3) > input:focus ~ label {
  color: #3c2313;
  top: -0.6em;
  left: 1em;
}

/* .formulario > form > div:nth-child(-n + 3) > input:invalid ~ label {
    color: red;
    top: -0.6em;
    left: 1em;
  } */
/* .formulario > form > div:nth-child(-n + 3) > input:focus:empty ~ label {
    color: white;
    left: 1.5em;
    top: 1.8em;
  } */
form > div:last-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.5em;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 1em;
}

form button,
form input[type="submit"] {
  border: none;
  border-radius: 14px;
  color: white;
  min-width: 6.5em;
  padding: 0.5em 0em;
}

.formulario button {
  background-color: #8a8787;
}

.formulario > form > div > input[type="submit"] {
  background-color: #f0a83e;
}

/* footer */
footer {
  background-color: #3c2313;
  /* contacto */
}

footer .contacto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-weight: 700;
  padding: 1.5em 0;
  margin: 0 auto;
}

footer .contacto div {
  padding-left: 5em;
}

footer .contacto div i {
  background-color: #8a8787;
  border: 6px solid #786960;
  border-radius: 100%;
  font-size: 40px;
  padding: 14px;
  position: absolute;
  right: 200px;
}

footer .contacto div h3 {
  color: white;
  font-size: 20px;
  position: relative;
}

footer .contacto div h3:first-child i {
  line-height: 28px;
  font-size: 38px;
}

footer .contacto div h3:nth-of-type(2) i {
  line-height: 28px;
  font-size: 38px;
}

footer .contacto div h3:nth-of-type(3) i {
  padding: 8px;
}

footer .contacto p {
  color: #8a8787;
  font-size: 0.7em;
  padding-bottom: 50px;
}

footer .contacto p:nth-child(5) {
  display: none;
}

footer .contacto a {
  padding: 16px;
}

footer .contacto a:visited {
  color: white;
}

footer .contacto span {
  color: #f0a83e;
}

/* Derechos */
footer > p {
  background-color: #222222;
  color: white;
  font-size: 0.7em;
  font-weight: 700;
  padding: 4px 0 4px;
  text-align: center;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

.inside {
  max-width: 70%;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

/* header */
header div div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0 auto;
}

header div li {
  font-size: 0.75rem;
}

header div a {
  color: white;
  /* font-size: 13px; */
}

/* Top */
header > div:first-child {
  background-color: #222222;
  color: #f3f3f3;
  font-size: 0.7rem;
  padding: 0.5em 2.5em 0.5em 6.8em;
}

header > div:first-child a {
  padding: 0 10px 0 10px;
}

/* Rectangle 3 */
header > div:last-child {
  background-color: #f0a83e;
  padding: 20px 0;
}

h1 {
  color: #3c2313;
  font-size: 20px;
  font-weight: 700;
}

header span {
  color: white;
}

header div:last-child li {
  display: inline-block;
}

header > div:last-child li::before {
  color: white;
  content: "\f1b0";
  font-family: "Font Awesome 5 Free";
  font-size: 1.2em;
  font-weight: 900;
  margin-left: 1em;
}

header > div:last-child li:nth-child(1)::before {
  margin-left: 0px;
}

header > div:last-child i:last-child {
  display: none;
}

/* Main */
/* Slide */
.slide {
  background: wheat
    url("./assets/img/bowl-and-pet-daities-on-green-background-1.svg") no-repeat;
  background-size: cover;
  color: #3c2313;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 33.7em;
  /* height: 41.31%; */
  /* height: 409px; */
  padding-right: 12px;
}

.slide > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 50%;
}

.slide p:first-child {
  background-color: white;
  border-radius: 6px;
  font-size: 1.5em;
  margin-bottom: 12px;
  padding: 10px;
}

.slide a {
  background-color: #f0a83e;
  border-radius: 6px;
  color: white;
  margin-top: 12px;
  padding: 15px 23px;
}

/* Responsive */
/* Mobile */
@media screen and (max-width: 480px) {
  html {
    font-size: 20px;
  }
  .inside {
    max-width: unset;
  }
  header > div:first-child {
    display: none;
  }
  header > div:last-child > div {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    max-width: 90%;
  }
  header > div:last-child nav {
    display: none;
  }
  header > div:last-child i:last-child {
    color: white;
    display: inline-block;
    font-size: 1.3em;
  }
  .slide {
    background: wheat url("/assets/img/background_mobile.svg") no-repeat;
    background-size: cover;
    background-position: right bottom;
    /* background-size: con%; */
    height: 20em;
  }
  .slide > div {
    width: 90%;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    /* text-align: right; */
  }
  .slide p:first-child {
    font-size: 1.2em;
  }
  .productos-destacados > div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 2em;
    gap: 2em;
  }
  .formulario {
    margin: 1em auto 2em;
    max-width: 17em;
  }
  .formulario h2 {
    font-size: 2em;
  }
  label {
    top: 1.3em;
  }
  .formulario div:last-child button,
  .formulario div:last-child input {
    border-radius: 2em;
    padding: 1em 0;
    width: 50%;
  }
  footer > .contacto {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 0;
  }
  .contacto p:nth-child(4) {
    display: none;
  }
  .contacto p:nth-child(5) {
    display: inline-block;
  }
  .contacto > h3 {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1;
    font-size: 0.8em;
  }
  .contacto > h3 > a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  footer > p {
    font-size: 0.6em;
  }
}
/*# sourceMappingURL=style.css.map */
