@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    a {
        text-decoration: none;
        &:visited {
            color: inherit;
        }
    }
    main {
        font-family: 'Inter', sans-serif;
        section {
            margin: 1.25em;
        }
        aside {
            display: none;
        }
    }
}